.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%; /* 最大幅を親要素の幅いっぱいにする */
    margin: 0 auto;
}

.fade-in-image {
    opacity: 0;
    transition: opacity 5.5s ease-in-out;
    max-width: 100%; /* 画像が親要素に合わせてサイズ調整 */
}

.fade-in-image.loaded {
    opacity: 1;
}

.message-container {
    margin-bottom: 1px;
    font-size: 5vw; /* ビューポート幅に応じてサイズ調整 */
    color: #e049d9c4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15vh; /* ビューポート高さに応じてサイズ調整 */
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#countdown {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
}
