.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.fade-in-image {
    opacity: 0;
    transition: opacity 5.5s ease-in-out;
    max-width: 100%;
}

.fade-in-image.loaded {
    opacity: 1;
}

.message-container {
    margin-bottom: 1px;
    font-size: 30vw; /* ビューポート幅に応じてサイズ調整 */
    color: #e049d9c4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* メッセージが中央に表示されるようにする */
    position: absolute; /* 画像の上に重ねる */
    top: 50%; /* 画面の中央に配置 */
    left: 50%; /* 画面の中央に配置 */
    transform: translate(-50%, -50%); /* 中央に正確に配置 */
    width: 100%; /* メッセージコンテナの幅を100%にして画面幅いっぱいに */
    background-color: rgba(255, 255, 255, 0.6); /* メッセージが見やすくなるように半透明の背景を追加 */
    text-align: center; /* テキストを中央に配置 */
    z-index: 5; /* 画像の上に表示する */
}

#countdown {
    font-size: 0.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
    z-index: 5; /* メッセージの下に表示する */
    position: relative;
}
